{% extends 'family/base.html' %}
{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/form_window.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/app.js' %}"></script>  
{% endblock %}
{% block title %}

{% endblock%}

{% block body %}
{% if  user.is_active%}
    <h2>Добро пожаловать {{user.first_name}}</h2>
    <a href = "{% url 'family:createFamily' %}">Создать комнату</a>
    <br>
        <form method = "POST">
            {% csrf_token %}
            <input type = "submit" value = "Подключиться к комнате" name = "form_connect"></input>
            <select name = "connect">
                <option value = "1">По ключу</option>
                <option value = "2">По паролю</option>
            </select>
        </form>
    </br>
    <br>
    <form class = "exit" method = "POST">
        {% csrf_token %}

        <input type ="submit" value = "Выйти" name="ExitBut">
    </form>
    </br>
{% for el in  rooms %}
    <br><a href="{% url 'family:room' el.id%}" value='Connect'> {{el}}</a></br>
{% endfor %}
<div class = "task">
    {% for taken_task in taken_task %} 
    <button onClick = "taskDescription({{taken_task.id}})">{{taken_task.task_title}} </button><br>
        <div class = "take_task" hidden id = "task_description{{taken_task.id}}">
        {{taken_task.task_description}} <br>
        </div>
    {% endfor %}
</div>
{% else %}
<a href = "{% url 'family:register'%}">Регистрация</a>
<a href = "{% url 'family:login'%}">Войти</a>

{% endif %}
{% endblock%}